In [3]:
import pandas as pd
male = pd.read_csv('movies_clean.csv')
fem_250 = pd.read_csv("movie_df.csv")
fem_1 = pd.read_csv('female_directors.csv')

In [2]:
male.drop(columns=['original_language','runtime','spoken_languages', 'original_title', 'release_date'], inplace=True)

In [5]:
male.shape

(9778, 20)

In [8]:
fem_1.shape

(790, 1)

In [7]:
fem_250

                                                                                                                                  Letterboxd list export v7
Date       Name                                               Tags                                          URL                                 Description
2023-05-26 Women Directors: The Official Top 250 Narrative... letterboxd, women directors, official top 250 https://boxd.it/mX8MY                        <3
Position   Name                                               Year                                          URL                                 Description
1          City of God                                        2002                                          https://boxd.it/2a2a                        NaN
2          Moral                                              1982                                          https://boxd.it/7s3g                        NaN
...                                                                                                                                                     ...
246        Selma                                              2014                                          https://boxd.it/8jak                        NaN
247        I Am Not a Witch                                   2017                                          https://boxd.it/g1yY                        NaN
248        American Honey                                     2016                                          https://boxd.it/bk7C                        NaN
249        The Hedgehog                                       2009                                          https://boxd.it/1ERg                        NaN
250        Ticket of No Return                                1979                                          https://boxd.it/3B9Y                        NaN

[253 rows x 1 columns]

In [ ]:
# Connecting to the API
import tmdbsimple as tmdb

tmdb.API_KEY = '6c37d50741c7004f344af19bf3a67b10'

# Declare variable to use the Search and Discover function
search = tmdb.Search()
discover = tmdb.Discover()