In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(data=[{'dessert':'Dame Blanche', 'ingredient':['Vanilla Ice Cream','Chocolate Sauce','Chantilly Cream']}
                        , {'dessert':'Vanilla Ice Cream', 'ingredient':'Vanilla Ice Cream'}
                        , {'dessert':'Chocolat Liégeois', 'ingredient':['Chocolate Ice Cream','Chocolate Sauce','Chantilly Cream']}])
df

             dessert                                         ingredient
0       Dame Blanche  [Vanilla Ice Cream, Chocolate Sauce, Chantilly...
1  Vanilla Ice Cream                                  Vanilla Ice Cream
2  Chocolat Liégeois  [Chocolate Ice Cream, Chocolate Sauce, Chantil...

In [3]:
# In this step we explode the list of items, meaning the other columns get duplicated and you have a row for each original item along with each item of the list
# ...this will be the basis of the intermediate table (to solve the many-to-many relationship we have 
df_exploded = df.explode('ingredient')
df_exploded

             dessert           ingredient
0       Dame Blanche    Vanilla Ice Cream
0       Dame Blanche      Chocolate Sauce
0       Dame Blanche      Chantilly Cream
1  Vanilla Ice Cream    Vanilla Ice Cream
2  Chocolat Liégeois  Chocolate Ice Cream
2  Chocolat Liégeois      Chocolate Sauce
2  Chocolat Liégeois      Chantilly Cream

In [7]:
# now we return to the intermediate table - we merge both the prior tables on the ingredient itself, then we just need to keep the id's from each table - these will be our foreign keys
dessert_ingredient_table = df_exploded
dessert_ingredient_table = dessert_ingredient_table.merge(ingredient_table, on='ingredient')
dessert_ingredient_table = dessert_ingredient_table.merge(dessert_table, on='dessert')
dessert_ingredient_table = dessert_ingredient_table[['dessert_id','ingredient_id']]
dessert_ingredient_table

   dessert_id ingredient_id
0           0             0
1           0             3
2           0             1
3           1             0
4           2             3
5           2             1
6           2             2

In [8]:
# we can export these tables to SQL now (you can drop the index) and set the relationships up there, then automagically create the ERD