In [164]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
import seaborn as sns
from sklearn.decomposition import TruncatedSVD
from sklearn.neighbors import NearestNeighbors

films = pd.read_csv('films_clean.csv')

In [165]:
films.reset_index(drop=True)

,genres,id,original_language,original_title,overview,popularity,production_companies,production_countries,runtime,spoken_languages,title,vote_average,vote_count,year,director,director_gender
0,"Comedy, Romance",11860,English,Sabrina,An ugly duckling having undergone a remarkable...,6.677277,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","Germany, United States of America",127.0,2,Sabrina,6.2,141.0,1995,Sydney Pollack,male
1,"Comedy, Horror",12110,English,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","France, United States of America",88.0,2,Dracula: Dead and Loving It,5.7,210.0,1995,Mel Brooks,male
2,"Action, Adventure",1408,English,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...","Germany, France, Italy, United States of America",119.0,2,Cutthroat Island,5.7,137.0,1995,Renny Harlin,male
3,"Drama, Crime",524,English,Casino,The life of the gambling paradise – Las Vegas ...,10.137389,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","France, United States of America",178.0,1,Casino,7.8,1343.0,1995,Martin Scorsese,male
4,"Drama, Romance",4584,English,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",10.673167,"[{'name': 'Columbia Pictures Corporation', 'id...","United Kingdom, United States of America",136.0,1,Sense and Sensibility,7.2,364.0,1995,Ang Lee,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9574,"Drama, Thriller, Mystery, Horror",365432,English,The Sublet,The Sublet is a suspense driven psychological ...,1.339355,"[{'name': 'Black Fawn Films', 'id': 9315}, {'n...",Canada,82.0,2,The Sublet,6.5,4.0,2015,John Ainslie,male
9575,"Action, Thriller, Mystery, Horror",45527,English,The Final Storm,A stranger named Silas flees from a devastatin...,1.270832,[{'name': 'Boll Kino Beteiligungs GmbH & Co. K...,"Germany, Canada",92.0,1,The Final Storm,3.7,11.0,2010,Uwe Boll,male
9576,"Drama, Family, TV-Movie",39562,English,To Be Fat Like Me,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,[],Canada,89.0,1,To Be Fat Like Me,5.0,12.0,2007,Douglas Barr,male
9577,Comedy,14008,English,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,4.392389,"[{'name': 'Walt Disney Television', 'id': 670}...","United States of America, Canada",101.0,1,Cadet Kelly,5.2,145.0,2002,Larry Shaw,male
9578,"Action, Drama, Romance",30840,English,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","Germany, United Kingdom, United States of Amer...",104.0,1,Robin Hood,5.7,26.0,1991,John Irvin,male

In [166]:
films = films.drop(columns= ['original_title', 'original_language','production_countries', 'title','production_companies','runtime','spoken_languages', 'vote_average', 'vote_count', 'director'])

In [167]:
female_directed= films[films['director_gender']== 'female']
male_directed= films[films['director_gender']== 'male']

In [168]:
female_directed

,genres,id,overview,popularity,year,director_gender
13,"Drama, Romance",8391,"A prudish woman, working on tenure as a litera...",3.302524,1995,female
18,"Comedy, Romance",4482,"After learning of her husband's infidelities, ...",2.518051,1995,female
25,"Comedy, Drama, Family",11907,No overview found.,1.015068,1994,female
44,"Drama, Romance",36834,"Young, wild poet Arthur Rimbaud and his mentor...",4.546552,1995,female
62,"Drama, Romance",40156,Father Greg Pilkington (Linus Roache) is torn ...,1.881932,1994,female
...,...,...,...,...,...,...
9548,Drama,88844,"Marian, a middle aged nurse, devotes herself t...",0.547712,2011,female
9549,"Drama, Romance",182981,"Naomi, a fifteen year-old Dutch girl from Sout...",0.420688,2014,female
9553,"Comedy, Drama",30019,"As young children, half-siblings Axel and Yann...",1.056898,2009,female
9557,"Comedy, Drama",366505,Alma’s family has been producing quality olive...,2.541633,2016,female
9572,"Drama, Romance",63281,"У девушки Даши, приехавшей с подругой «покорят...",0.121844,2010,female

In [169]:
female_directed = female_directed.drop(columns='director_gender')
male_directed = male_directed.drop(columns='director_gender')

In [170]:
films['genres'].value_counts()

Drama                                                  1461
Comedy                                                  563
Drama, Romance                                          539
Comedy, Drama                                           460
Documentary                                             290
                                                       ...
Science-Fiction, Mystery                                  1
Action, Adventure, Fantasy, Science-Fiction, Family       1
Comedy, Action, Romance, Thriller, Science-Fiction        1
Action, Drama, Thriller, History, Foreign                 1
Drama, History, Mystery                                   1
Name: genres, Length: 898, dtype: int64

In [171]:
male_directed.shape

(8917, 5)

In [172]:
#Numpy array
# count_vectorizer

#unsupervised KNN  recommender (not classifier)
#Looking at second smallest is the one to recommend
#5 recommendations keeping variety 
#

In [173]:
female_directed.dtypes

genres         object
id              int64
overview       object
popularity    float64
year            int64
dtype: object

In [174]:
from sklearn.feature_extraction.text import CountVectorizer
text = films['overview']
text_male = male_directed['overview']
text_female = female_directed['overview']

In [175]:
text

0       An ugly duckling having undergone a remarkable...
1       When a lawyer shows up at the vampire's doorst...
2       Morgan Adams and her slave, William Shaw, are ...
3       The life of the gambling paradise – Las Vegas ...
4       Rich Mr. Dashwood dies, leaving his second wif...
                              ...
9574    The Sublet is a suspense driven psychological ...
9575    A stranger named Silas flees from a devastatin...
9576    Pretty, popular, and slim high-schooler Aly Sc...
9577    Hyperactive teenager Kelly is enrolled into a ...
9578    Yet another version of the classic epic, with ...
Name: overview, Length: 9579, dtype: object

In [176]:
vectorizer = CountVectorizer()
vectorizer.fit(text)

CountVectorizer()

In [177]:
vectors_male = vectorizer.transform(text_male).todense()
vectors_female = vectorizer.transform(text_female).todense()

In [178]:
vocabulary = vectorizer.get_feature_names_out()

In [179]:
#faire un string join a partir de ma colonne genre
#et countrie s

In [180]:
male_vectorized = pd.DataFrame(vectors_male, columns=vocabulary)
female_vectorized = pd.DataFrame(vectors_female, columns=vocabulary)

In [181]:
male_vectorized

,00,000,000th,007,01,04,07am,10,100,1000,...,गल,ஆதவன,யப,ரம,ரமண,たけみかずち,ひめ,주식회사,찾기,첫사랑
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8913,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8914,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8915,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8916,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [182]:
male_directed

,genres,id,overview,popularity,year
0,"Comedy, Romance",11860,An ugly duckling having undergone a remarkable...,6.677277,1995
1,"Comedy, Horror",12110,When a lawyer shows up at the vampire's doorst...,5.430331,1995
2,"Action, Adventure",1408,"Morgan Adams and her slave, William Shaw, are ...",7.284477,1995
3,"Drama, Crime",524,The life of the gambling paradise – Las Vegas ...,10.137389,1995
4,"Drama, Romance",4584,"Rich Mr. Dashwood dies, leaving his second wif...",10.673167,1995
...,...,...,...,...,...
9574,"Drama, Thriller, Mystery, Horror",365432,The Sublet is a suspense driven psychological ...,1.339355,2015
9575,"Action, Thriller, Mystery, Horror",45527,A stranger named Silas flees from a devastatin...,1.270832,2010
9576,"Drama, Family, TV-Movie",39562,"Pretty, popular, and slim high-schooler Aly Sc...",0.767762,2007
9577,Comedy,14008,Hyperactive teenager Kelly is enrolled into a ...,4.392389,2002
9578,"Action, Drama, Romance",30840,"Yet another version of the classic epic, with ...",5.683753,1991

In [183]:
female_vectorized

,00,000,000th,007,01,04,07am,10,100,1000,...,गल,ஆதவன,யப,ரம,ரமண,たけみかずち,ひめ,주식회사,찾기,첫사랑
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
658,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
659,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
660,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
661,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [184]:
#import pandas as pd
#from sklearn.preprocessing import OneHotEncoder
#encoder = OneHotEncoder()
#countries_encoded = pd.DataFrame(encoder.fit_transform(male_directed['genres']).toarray())

In [185]:
films['genres'].value_counts()

Drama                                                  1461
Comedy                                                  563
Drama, Romance                                          539
Comedy, Drama                                           460
Documentary                                             290
                                                       ...
Science-Fiction, Mystery                                  1
Action, Adventure, Fantasy, Science-Fiction, Family       1
Comedy, Action, Romance, Thriller, Science-Fiction        1
Action, Drama, Thriller, History, Foreign                 1
Drama, History, Mystery                                   1
Name: genres, Length: 898, dtype: int64

In [186]:
#DEMANDER A THOMAS
CountVectorizer()
#{'comedy': 3,
# 'romance': 16,
# 'horror': 12,
# 'action': 0,
# 'adventure': 1,
# 'drama': 6,
# 'crime': 4,
# 'thriller': 18,
# 'fantasy': 8,
# 'science': 17,
# 'fiction': 9,
# 'history': 11,
# 'war': 20,
# 'foreign': 10,
# 'mystery': 15,
# 'family': 7,
# 'documentary': 5,
# 'western': 21,
# 'music': 14,
# 'animation': 2,
# 'tv': 19,
# 'movie': 13}
genre_vectorizer = CountVectorizer()
genre_vectorizer.vocabulary_
genre_vectorizer.fit(films['genres']).toarray()
genre_vectorizer.transform(films['genres']).toarray()
##regarder dans le TP comment le transformer en dataframe

In [203]:
genre_vectorizer.vocabulary_

AttributeError: 'CountVectorizer' object has no attribute 'vocabulary_'

In [187]:
films['genres'].unique()

array(['Comedy, Romance', 'Comedy, Horror', 'Action, Adventure',
       'Drama, Crime', 'Drama, Romance',
       'Action, Crime, Adventure, Thriller', 'Drama',
       'Adventure, Fantasy, Science-Fiction', 'Drama, Romance, History',
       'Drama, War', 'Drama, Foreign', 'Comedy, Drama, Romance',
       'Drama, Thriller, Mystery', 'Drama, History', 'Drama, Family',
       'Comedy', 'Action, Drama, Adventure, Thriller, Science-Fiction',
       'Documentary', 'Comedy, Drama, Family',
       'Comedy, Action, Crime, Thriller', 'Drama, Romance, War',
       'Comedy, Drama, Crime, Thriller', 'Adventure', 'Comedy, Action',
       'Comedy, Drama', 'Thriller, Foreign', 'Drama, Romance, Family',
       'Drama, Mystery', 'Action, Drama, Crime, Thriller',
       'Drama, Fantasy', 'Comedy, Drama, History',
       'Drama, Romance, Science-Fiction, Horror', 'Horror',
       'Drama, Crime, Thriller', 'Action, Western', 'Drama, Horror',
       'Drama, Fantasy, Family', 'Action, Thriller',
       'Action, Adventure, Science-Fiction', 'Crime, Thriller',
       'Drama, Music', 'Drama, Romance, Thriller',
       'Science-Fiction, Animation', 'Comedy, Drama, Fantasy',
       'Action, Drama, Adventure, Family', 'Action, Adventure, Thriller',
       'Comedy, Romance, Thriller, Foreign, Mystery',
       'Action, Drama, Thriller', 'Action, Drama, History, War',
       'Action, Crime, Thriller', 'Drama, Romance, Fantasy',
       'Comedy, War', 'Comedy, Action, Adventure',
       'Drama, Thriller, Horror', 'Comedy, Drama, Romance, Foreign',
       'Drama, Adventure, Western', 'Comedy, Foreign',
       'Drama, Romance, History, War', 'Comedy, Drama, Adventure, Family',
       'Thriller, Mystery, Horror',
       'Action, Adventure, Thriller, Science-Fiction',
       'Drama, Romance, Thriller, Mystery',
       'Drama, Romance, Adventure, War', 'Drama, Animation',
       'Comedy, Drama, Fantasy, Horror', 'Comedy, Family',
       'Comedy, Drama, War', 'Action, Drama', 'Drama, History, War',
       'Drama, Mystery, Horror', 'Action, Drama, Thriller, Mystery',
       'Drama, Adventure', 'Fantasy, Family, Animation',
       'Action, Thriller, Mystery', 'Romance, Adventure, War',
       'Comedy, Action, Drama, Crime, Romance, Adventure',
       'Adventure, Family', 'Drama, Thriller', 'Mystery',
       'Action, Drama, Romance, War', 'Comedy, Crime',
       'Comedy, Romance, Music', 'Action, Drama, War',
       'Comedy, Fantasy, Family', 'Comedy, Adventure, Fantasy',
       'Drama, Fantasy, Animation', 'Comedy, Fantasy, Science-Fiction',
       'Comedy, Drama, Crime, Romance', 'Comedy, Science-Fiction',
       'Drama, Adventure, History, War', 'Drama, Science-Fiction',
       'Western', 'Thriller, Mystery', 'Drama, Romance, Adventure',
       'Action, Drama, History', 'Action, Drama, Romance, History, War',
       'Drama, Thriller, Science-Fiction',
       'Action, Drama, Adventure, History, War',
       'Comedy, Action, Science-Fiction, Horror', 'Thriller, Horror',
       'Action, Drama, Thriller, Music',
       'Comedy, Drama, Romance, History', 'Music',
       'Action, Drama, Thriller, Science-Fiction', 'Mystery, Horror',
       'Fantasy, Horror', 'Drama, Crime, Romance',
       'Drama, History, Music', 'Comedy, Romance, Foreign',
       'Action, Drama, Crime, Thriller, Mystery',
       'Comedy, Drama, Mystery', 'Drama, Romance, Foreign',
       'Action, Adventure, Thriller, Fantasy, Science-Fiction',
       'Comedy, Drama, Romance, Fantasy',
       'Science-Fiction, Mystery, Horror', 'Thriller',
       'Drama, Fantasy, Mystery, Family',
       'Comedy, Drama, Romance, Thriller, Fantasy, Science-Fiction',
       'Drama, Romance, Foreign, Music', 'Science-Fiction, Mystery',
       'Comedy, Crime, Romance', 'Action, Drama, Romance',
       'Action, Drama, Thriller, History, Foreign',
       'Comedy, Drama, Adventure, Fantasy, Music',
       'Action, Adventure, Science-Fiction, Horror',
       'Action, Drama, Romance, Thriller',
       'Drama, Crime, Romance, Thriller, Mystery',
       'Comedy, Adventure, Fantasy, Music', 'Action, Drama, Adventure',
       'Comedy, Action, Adventure, Fantasy, Family', 'Adventure, Fantasy',
       'Comedy, Action, Crime', 'Comedy, Romance, Adventure, History',
       'Drama, Family, Music', 'Adventure, Fantasy, Family',
       'Action, Drama, Crime, Adventure, Thriller, Mystery',
       'Drama, Fantasy, Mystery', 'Drama, Romance, Science-Fiction',
       'Crime, Mystery', 'Drama, Adventure, Animation', 'Fantasy',
       'Drama, Crime, Thriller, Mystery', 'Crime, Adventure',
       'Crime, Thriller, Mystery', 'Comedy, Drama, Thriller',
       'Comedy, Music', 'Action, Drama, History, Western',
       'Drama, TV-Movie', 'Comedy, Drama, Music',
       'Thriller, Fantasy, Science-Fiction, Horror',
       'Action, Drama, Crime', 'Action, Science-Fiction, Horror',
       'Fantasy, Science-Fiction, Animation', 'Drama, Romance, Mystery',
       'Action, Science-Fiction', 'Science-Fiction, Horror',
       'Thriller, Science-Fiction', 'Comedy, Thriller, Horror, Western',
       'Action, Drama, Foreign',
       'Action, Thriller, Science-Fiction, Horror',
       'Action, Fantasy, Science-Fiction',
       'Comedy, Drama, Fantasy, Mystery', 'Documentary, Music',
       'Drama, Romance, Thriller, Mystery, Music',
       'Comedy, Drama, Foreign', 'Action, Thriller, Science-Fiction',
       'Comedy, Drama, Crime', 'Romance, Thriller',
       'Comedy, Horror, Music', 'Drama, Fantasy, Family, Animation',
       'Comedy, Action, Thriller', 'Comedy, Action, Drama',
       'Comedy, Drama, Foreign, Music', 'Drama, Science-Fiction, Mystery',
       'Comedy, Adventure, Fantasy, Science-Fiction, Family',
       'Adventure, Fantasy, Animation',
       'Drama, Thriller, Fantasy, Mystery', 'Drama, Thriller, History',
       'Thriller, Science-Fiction, Horror',
       'Drama, Crime, Thriller, Horror',
       'Drama, Thriller, Science-Fiction, Horror',
       'Comedy, Romance, Mystery', 'Comedy, Drama, Crime, Horror',
       'Drama, Romance, Adventure, Thriller', 'Crime, Horror',
       'Comedy, Crime, Family', 'Drama, Adventure, Family',
       'Comedy, Family, Animation', 'Drama, Fantasy, Horror',
       'Drama, Adventure, Thriller', 'Science-Fiction',
       'Drama, Adventure, Science-Fiction, Mystery',
       'Drama, Crime, History', 'Romance, Thriller, Horror',
       'Action, Drama, Thriller, War', 'Drama, Romance, Horror',
       'Drama, Science-Fiction, Mystery, Family, Animation',
       'Fantasy, Science-Fiction, Horror', 'Adventure, Horror',
       'Crime, Thriller, Horror', 'Drama, Romance, Fantasy, Mystery',
       'Adventure, Fantasy, Science-Fiction, Animation',
       'Comedy, Action, Adventure, Thriller',
       'Comedy, Action, Adventure, Family, Animation', 'Foreign, Horror',
       'Comedy, Adventure, War', 'Comedy, Crime, Thriller',
       'Action, Adventure, Fantasy, Science-Fiction',
       'Drama, Fantasy, Science-Fiction',
       'Action, Drama, Adventure, Thriller, War',
       'Drama, Romance, Western', 'Comedy, Action, Crime, Romance',
       'Comedy, Action, Family', 'War', 'Foreign, Documentary',
       'Drama, History, Foreign', 'Action',
       'Comedy, Drama, Fantasy, Family',
       'Comedy, Drama, Romance, Fantasy, Science-Fiction, Foreign, Family',
       'Action, Adventure, Fantasy', 'Drama, Romance, Music',
       'Drama, Romance, War, Music', 'Comedy, Drama, War, Family',
       'Drama, Crime, Romance, Mystery', 'Action, Crime',
       'Action, Drama, Adventure, Thriller',
       'Comedy, Action, Adventure, Fantasy',
       'Comedy, Action, Crime, Thriller, Mystery',
       'Comedy, Crime, Thriller, Mystery',
       'Comedy, Drama, Romance, Science-Fiction, Music',
       'Action, Adventure, Thriller, Science-Fiction, Horror',
       'Drama, Thriller, Science-Fiction, Mystery',
       'Crime, Thriller, Mystery, Horror', 'Drama, Adventure, History',
       'Comedy, Drama, Thriller, Foreign',
       'Comedy, Action, Romance, Adventure, Western',
       'Drama, Thriller, Mystery, Horror', 'Comedy, Adventure',
       'Comedy, Crime, Romance, Thriller, Mystery',
       'Thriller, Mystery, Horror, Music',
       'Adventure, Thriller, Mystery, Horror', 'Crime',
       'Drama, Thriller, Fantasy, Science-Fiction, Horror',
       'Comedy, Fantasy',
       'Comedy, Drama, Fantasy, Science-Fiction, Horror, Animation',
       'Action, History, War', 'Action, Adventure, History, Horror',
       'Comedy, Drama, Romance, Fantasy, Science-Fiction',
       'Comedy, Adventure, Family', 'Comedy, Drama, Horror',
       'Comedy, Drama, Romance, Mystery', 'Drama, History, Horror',
       'Drama, Romance, Thriller, Foreign', 'Comedy, Documentary',
       'Comedy, Drama, Romance, Music', 'Drama, Crime, Mystery',
       'Drama, Romance, Thriller, War, Mystery',
       'Action, Drama, Crime, Romance', 'Comedy, Drama, Science-Fiction',
       'Romance, Music', 'Comedy, Drama, Romance, Foreign, Family',
       'Action, Drama, Adventure, History',
       'Comedy, Drama, Crime, Foreign', 'Comedy, Adventure, Western',
       'Action, Adventure, Family', 'Comedy, Action, Thriller, Horror',
       'Drama, Crime, Romance, Thriller',
       'Comedy, Action, Science-Fiction',
       'Drama, Romance, History, Foreign',
       'Comedy, Crime, Thriller, Mystery, Music',
       'Adventure, Fantasy, Family, Animation', 'Drama, War, Animation',
       'Comedy, Crime, Adventure',
       'Thriller, Science-Fiction, Foreign, Horror',
       'Comedy, Action, Drama, History', 'Crime, Romance, Thriller',
       'Comedy, Drama, Romance, War', 'Action, Thriller, Horror',
       'Comedy, Fantasy, Science-Fiction, Horror',
       'Action, Drama, Crime, Thriller, History',
       'Adventure, Thriller, Mystery',
       'Comedy, Action, Drama, Romance, Thriller',
       'Romance, Thriller, Mystery',
       'Adventure, Fantasy, Science-Fiction, Horror',
       'Comedy, Drama, Science-Fiction, Horror',
       'Comedy, Action, Drama, Romance, Thriller, Science-Fiction',
       'Action, Adventure, Fantasy, Family',
       'Comedy, Action, Drama, Thriller',
       'Comedy, Drama, Romance, Family',
       'Action, Drama, Adventure, Thriller, Foreign',
       'Romance, Adventure', 'Drama, Adventure, Mystery',
       'Drama, Adventure, Fantasy, Family', 'Comedy, Action, Romance',
       'Drama, Romance, Fantasy, Music',
       'Action, Romance, Adventure, Fantasy, Family, Animation',
       'Comedy, Action, Romance, Thriller', 'Drama, War, Foreign',
       'Comedy, Family, Documentary', 'Drama, Documentary',
       'Action, Drama, Adventure, War', 'Thriller, Fantasy, Horror',
       'Action, Thriller, Fantasy, Science-Fiction',
       'Comedy, Drama, Crime, Thriller, War', 'Romance, Horror',
       'Comedy, Action, Drama, Romance',
       'Drama, Romance, Thriller, Fantasy, Mystery, Horror', 'Romance',
       'Action, Drama, Family', 'Drama, Romance, Adventure, Music',
       'Comedy, Action, Drama, Family, Music',
       'Romance, Adventure, Science-Fiction, Horror',
       'Action, Fantasy, Animation', 'Action, Science-Fiction, Family',
       'Comedy, Drama, Adventure, Fantasy, Mystery', 'Comedy, Animation',
       'Comedy, Thriller, Mystery, Horror',
       'Drama, Crime, Adventure, Thriller',
       'Action, Drama, Romance, Adventure', 'Drama, History, War, Horror',
       'Adventure, Fantasy, Horror', 'Comedy, Drama, War, Foreign',
       'Action, Adventure, Thriller, Science-Fiction, Mystery',
       'Comedy, Crime, Mystery',
       'Comedy, Adventure, Fantasy, Family, Music',
       'Drama, History, War, Foreign', 'Action, Adventure, Documentary',
       'Action, Drama, Crime, Adventure, Thriller', 'Adventure, Western',
       'Drama, Thriller, Fantasy, Horror',
       'Comedy, Drama, Adventure, Fantasy, Family',
       'Action, Drama, Adventure, Foreign, Family',
       'Comedy, Action, Drama, Crime, Romance, Mystery',
       'Action, Drama, Western',
       'Comedy, Thriller, Foreign, Mystery, Horror',
       'Drama, Adventure, War', 'Comedy, Romance, Fantasy, Music',
       'Drama, Thriller, History, War', 'Action, Horror',
       'Comedy, Romance, Fantasy', 'Comedy, Romance, Foreign, Music',
       'Comedy, Romance, History',
       'Drama, Adventure, Fantasy, Science-Fiction',
       'Action, Fantasy, Foreign', 'History, Documentary',
       'Comedy, Action, Drama, Adventure',
       'Comedy, Adventure, Thriller, Science-Fiction', 'Family',
       'Drama, Thriller, Foreign, Mystery', 'Drama, Foreign, Family',
       'Action, Drama, Romance, Adventure, War',
       'Thriller, Foreign, Mystery',
       'Drama, Romance, History, War, TV-Movie',
       'Adventure, History, War', 'Action, Music',
       'Drama, Crime, Thriller, War, Mystery', 'Drama, Thriller, War',
       'Action, Drama, Thriller, Foreign',
       'Action, Fantasy, Science-Fiction, Family', 'Action, History',
       'Comedy, Drama, Adventure, History',
       'Comedy, Action, Crime, Adventure, Thriller',
       'Comedy, Action, Adventure, Fantasy, Science-Fiction, Family',
       'Comedy, Action, Drama, Romance, War',
       'Drama, Romance, Thriller, Science-Fiction',
       'Comedy, Thriller, Horror',
       'Comedy, Fantasy, Science-Fiction, Music',
       'Comedy, Action, Adventure, Animation, Music',
       'Action, Drama, Romance, Adventure, History, War',
       'Drama, Thriller, Fantasy', 'History, War, Documentary',
       'Drama, War, Music', 'Comedy, Drama, Crime, Mystery',
       'Comedy, Drama, Crime, Thriller, Mystery', 'Action, Thriller, War',
       'History, War', 'Drama, Crime, Music', 'Horror, TV-Movie',
       'War, Foreign, Documentary',
       'Fantasy, Science-Fiction, Family, Music',
       'Comedy, Adventure, Science-Fiction',
       'Action, Drama, Romance, TV-Movie',
       'Action, Adventure, Fantasy, Science-Fiction, Animation',
       'Drama, Crime, Romance, Thriller, Mystery, Horror',
       'Drama, Fantasy, Family, TV-Movie',
       'Comedy, Fantasy, Horror, Animation',
       'Drama, Adventure, Fantasy, Animation',
       'Drama, Romance, Animation', 'Drama, Crime, TV-Movie',
       'Action, Science-Fiction, War',
       'Comedy, Action, Romance, Adventure',
       'Comedy, Adventure, Animation', 'Drama, War, Mystery',
       'Thriller, Mystery, Animation', 'Comedy, Romance, Family',
       'Comedy, Action, Horror', 'Comedy, Drama, Romance, TV-Movie',
       'Action, Adventure, Thriller, Fantasy, Science-Fiction, Horror',
       'Drama, Adventure, Fantasy',
       'Action, Crime, Thriller, Fantasy, Science-Fiction, Mystery',
       'Comedy, Romance, Adventure', 'Comedy, Crime, Romance, Foreign',
       'Comedy, Romance, Adventure, Fantasy, Mystery, Family',
       'Comedy, Drama, Adventure',
       'Drama, Thriller, Fantasy, Science-Fiction',
       'Action, Drama, Crime, Thriller, Foreign',
       'Drama, Crime, Foreign, Mystery',
       'Action, Drama, Thriller, Science-Fiction, Horror',
       'Comedy, Drama, Thriller, Horror', 'Comedy, Thriller',
       'Comedy, Drama, Fantasy, Music', 'Drama, Science-Fiction, Horror',
       'Comedy, Adventure, Fantasy, Family',
       'Drama, Romance, Thriller, Music',
       'Drama, Romance, Horror, Music, TV-Movie',
       'Drama, Thriller, War, Horror', 'Action, Fantasy',
       'Drama, Adventure, Fantasy, Science-Fiction, Family',
       'Drama, Crime, Horror', 'Fantasy, Family', 'War, Documentary',
       'Comedy, Action, Crime, Fantasy',
       'Comedy, Action, Thriller, Mystery',
       'Comedy, Action, Drama, Thriller, Family',
       'Adventure, Family, Animation', 'Family, Animation',
       'Comedy, Action, Drama, Adventure, Mystery',
       'Drama, Horror, TV-Movie',
       'Drama, Romance, Fantasy, Science-Fiction',
       'Drama, Romance, History, Music',
       'Drama, Romance, Thriller, History, TV-Movie',
       'Action, Thriller, Foreign', 'Comedy, Action, Drama, Crime',
       'Action, Documentary, Music', 'Comedy, Science-Fiction, Horror',
       'Thriller, Science-Fiction, Mystery',
       'Thriller, Foreign, Mystery, Horror',
       'Comedy, Action, Drama, Adventure, Thriller',
       'Comedy, Drama, Animation',
       'Comedy, Action, Adventure, Thriller, Fantasy',
       'Action, Adventure, Thriller, Horror',
       'Drama, History, Documentary', 'Action, Adventure, Horror',
       'Drama, Crime, Family', 'Action, Drama, Adventure, Fantasy',
       'Action, Crime, Romance, Science-Fiction, Horror',
       'Action, Drama, Crime, Adventure, Thriller, Western',
       'Drama, Romance, History, War, Music',
       'Thriller, Science-Fiction, Mystery, Horror',
       'Drama, Foreign, Horror',
       'Action, Drama, Romance, Thriller, Fantasy',
       'Action, Thriller, Mystery, Horror',
       'Comedy, Action, Drama, Crime, Thriller',
       'Drama, Crime, Adventure, Mystery, Western',
       'Action, Drama, Thriller, History',
       'Drama, Romance, History, Family',
       'Drama, Romance, Thriller, Science-Fiction, Foreign',
       'Drama, Science-Fiction, Animation',
       'Drama, Adventure, Thriller, War',
       'Action, Drama, Crime, Romance, Thriller',
       'Drama, Crime, Romance, Foreign, Music',
       'Action, Thriller, Fantasy', 'Comedy, Romance, Fantasy, Family',
       'Action, Drama, Crime, Foreign, Mystery',
       'Comedy, Fantasy, Horror', 'Action, Science-Fiction, Animation',
       'Thriller, Fantasy, Mystery, Horror', 'Horror, Music',
       'Drama, Crime, Romance, Foreign', 'Comedy, Mystery',
       'Comedy, Drama, Thriller, War, Mystery',
       'Drama, Romance, Thriller, Fantasy',
       'Comedy, Action, Drama, Romance, Thriller, Foreign',
       'Comedy, Foreign, Horror',
       'Comedy, Action, Drama, Adventure, Family, Animation',
       'Drama, Thriller, Foreign', 'Action, Drama, Crime, Adventure',
       'Drama, Fantasy, War', 'Comedy, Adventure, Family, Animation',
       'Drama, Crime, Fantasy', 'Action, Drama, Thriller, History, War',
       'Comedy, Action, Drama, Adventure, Fantasy',
       'Drama, Romance, Adventure, Science-Fiction, Animation',
       'Action, Drama, Fantasy',
       'Crime, Thriller, Foreign, Mystery, Horror',
       'Drama, Romance, Fantasy, Horror',
       'Comedy, Action, Drama, Crime, Foreign', 'Action, Animation',
       'Comedy, Action, War', 'Drama, Crime, Thriller, Fantasy, Mystery',
       'Comedy, Romance, Family, Music',
       'Comedy, Action, Adventure, Foreign',
       'Comedy, Drama, Romance, Horror',
       'Action, Drama, Crime, Thriller, War, Mystery',
       'Romance, Adventure, Fantasy, Family', 'Action, Fantasy, Horror',
       'Action, Drama, Romance, History, Western',
       'Comedy, Drama, Romance, Fantasy, Music',
       'Comedy, Drama, History, Documentary',
       'Drama, Fantasy, Foreign, Horror', 'Comedy, Action, Foreign',
       'Comedy, Thriller, Science-Fiction', 'Drama, Horror, Music',
       'Action, Drama, Thriller, Fantasy, Science-Fiction, Horror',
       'Drama, Fantasy, Science-Fiction, Animation',
       'Drama, Crime, Thriller, Science-Fiction',
       'Action, Drama, Adventure, Documentary',
       'Action, Drama, Romance, Adventure, History',
       'Comedy, Drama, Fantasy, Science-Fiction, Family',
       'Drama, History, War, Foreign, Documentary', 'Drama, Western',
       'Action, Adventure, Western', 'Action, Crime, Adventure',
       'Comedy, Action, Drama, Crime, Adventure',
       'Drama, Adventure, Science-Fiction, TV-Movie',
       'Comedy, Action, Crime, Adventure, Thriller, Horror',
       'Action, War', 'Crime, Thriller, History, Documentary',
       'Action, Adventure, Fantasy, Science-Fiction, Family, Animation',
       'Comedy, War, Music', 'Fantasy, Science-Fiction',
       'Comedy, Action, Romance, Thriller, Science-Fiction',
       'Action, Drama, Adventure, Thriller, Horror',
       'Action, Adventure, Fantasy, Science-Fiction, Family',
       'Comedy, History',
       'Comedy, Drama, Romance, Mystery, Horror, Animation',
       'Action, Drama, Thriller, Horror',

## Male

In [194]:
from sklearn.preprocessing import StandardScaler

In [196]:
male_genres = male_directed['genres']

KeyError: 'genres'

In [189]:
unique_features = set()
for genres in male_directed['genres']:
    unique_features.update(genres.split(', '))

for feature in unique_features:
    male_directed[feature] = male_directed['genres'].apply(lambda x: 1 if feature in x.split(', ') else 0)

male_directed.drop('genres', axis=1, inplace=True)

In [190]:
male_directed = male_directed.reset_index(drop=True)

In [191]:
male_directed.dtypes

id                   int64
overview            object
popularity         float64
year                 int64
Mystery              int64
Music                int64
Comedy               int64
War                  int64
Fantasy              int64
Adventure            int64
Horror               int64
Romance              int64
History              int64
Family               int64
Animation            int64
Thriller             int64
Foreign              int64
Documentary          int64
Drama                int64
Western              int64
Science-Fiction      int64
Crime                int64
TV-Movie             int64
Action               int64
dtype: object

In [192]:
male_vectorized

,00,000,000th,007,01,04,07am,10,100,1000,...,गल,ஆதவன,யப,ரம,ரமண,たけみかずち,ひめ,주식회사,찾기,첫사랑
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8913,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8914,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8915,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8916,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [193]:
final_male = pd.concat([male_directed, male_vectorized], axis=1)

KeyboardInterrupt:

In [ ]:
final_male.dtypes

NameError: name 'final_male' is not defined

## Female

In [ ]:
female_directed

,genres,id,overview,popularity,year
13,"Drama, Romance",8391,"A prudish woman, working on tenure as a litera...",3.302524,1995
18,"Comedy, Romance",4482,"After learning of her husband's infidelities, ...",2.518051,1995
25,"Comedy, Drama, Family",11907,No overview found.,1.015068,1994
44,"Drama, Romance",36834,"Young, wild poet Arthur Rimbaud and his mentor...",4.546552,1995
62,"Drama, Romance",40156,Father Greg Pilkington (Linus Roache) is torn ...,1.881932,1994
...,...,...,...,...,...
9548,Drama,88844,"Marian, a middle aged nurse, devotes herself t...",0.547712,2011
9549,"Drama, Romance",182981,"Naomi, a fifteen year-old Dutch girl from Sout...",0.420688,2014
9553,"Comedy, Drama",30019,"As young children, half-siblings Axel and Yann...",1.056898,2009
9557,"Comedy, Drama",366505,Alma’s family has been producing quality olive...,2.541633,2016
9572,"Drama, Romance",63281,"У девушки Даши, приехавшей с подругой «покорят...",0.121844,2010

In [ ]:
unique_features = set()
for genres in female_directed['genres']:
    unique_features.update(genres.split(', '))

for feature in unique_features:
    female_directed[feature] = female_directed['genres'].apply(lambda x: 1 if feature in x.split(', ') else 0)

female_directed.drop('genres', axis=1, inplace=True)

In [ ]:
female_directed

,id,overview,popularity,year,Mystery,Music,Comedy,War,Fantasy,Adventure,...,Animation,Thriller,Foreign,Documentary,Drama,Western,Science-Fiction,Crime,TV-Movie,Action
13,8391,"A prudish woman, working on tenure as a litera...",3.302524,1995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
18,4482,"After learning of her husband's infidelities, ...",2.518051,1995,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,11907,No overview found.,1.015068,1994,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
44,36834,"Young, wild poet Arthur Rimbaud and his mentor...",4.546552,1995,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
62,40156,Father Greg Pilkington (Linus Roache) is torn ...,1.881932,1994,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9548,88844,"Marian, a middle aged nurse, devotes herself t...",0.547712,2011,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9549,182981,"Naomi, a fifteen year-old Dutch girl from Sout...",0.420688,2014,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9553,30019,"As young children, half-siblings Axel and Yann...",1.056898,2009,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9557,366505,Alma’s family has been producing quality olive...,2.541633,2016,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9572,63281,"У девушки Даши, приехавшей с подругой «покорят...",0.121844,2010,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
female_directed = female_directed.reset_index(drop=True)

In [ ]:
female_directed.dtypes

id                   int64
overview            object
popularity         float64
year                 int64
Mystery              int64
Music                int64
Comedy               int64
War                  int64
Fantasy              int64
Adventure            int64
Horror               int64
Romance              int64
History              int64
Family               int64
Animation            int64
Thriller             int64
Foreign              int64
Documentary          int64
Drama                int64
Western              int64
Science-Fiction      int64
Crime                int64
TV-Movie             int64
Action               int64
dtype: object

In [ ]:
final_female = pd.concat([female_directed, female_vectorized], axis=1)

In [ ]:
final_female

,id,popularity,year,Mystery,Music,Comedy,War,Fantasy,Adventure,Horror,...,गल,ஆதவன,யப,ரம,ரமண,たけみかずち,ひめ,주식회사,찾기,첫사랑
0,8391,3.302524,1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4482,2.518051,1995,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,11907,1.015068,1994,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,36834,4.546552,1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,40156,1.881932,1994,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,88844,0.547712,2011,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
658,182981,0.420688,2014,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
659,30019,1.056898,2009,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
660,366505,2.541633,2016,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
661,63281,0.121844,2010,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
final_male.drop(columns= 'overview', inplace=True)
final_female.drop(columns= 'overview', inplace=True)

In [ ]:
NORMALIZE YOUR DATA NOWW

In [ ]:
from sklearn.neighbors import NearestNeighbors
import numpy as np

male_data = final_male.values
female_data = final_female.values
n_neighbors = 5 
model = NearestNeighbors(n_neighbors=n_neighbors)
model.fit(female_data)

NearestNeighbors()

In [ ]:
distances, indices = model.kneighbors(male_data[1:2])

In [ ]:
distances

array([[203.18094041, 252.16700454, 405.33644574, 414.10080685,
        478.22630851]])

In [ ]:
indices

array([[  2,   8, 177,  44, 123]])

In [ ]:
recommendations = []
for male_item in male_data:
    distances, indices = model.kneighbors([male_item])
    recommended_items = final_female.iloc[indices[0]].values
    recommendations.append(recommended_items)

KeyboardInterrupt: