In [77]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
import seaborn
from sklearn.decomposition import TruncatedSVD
from sklearn.neighbors import NearestNeighbors

female_directed = pd.read_csv('female_directed_clean.csv')
male_directed = pd.read_csv('male_directed_clean.csv')

In [78]:
female_directed.drop(columns=['Unnamed: 0', 'ID',], inplace=True)
male_directed.drop(columns=['Unnamed: 0', 'ID', 'director_gender'], inplace=True)

In [79]:
female_directed[female_directed['vote_average'] == 0].sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of                                                   title  \
150                                     Men of Tomorrow
309                                              Barbie
377   Vagabond: Remembrances, Interviews, Notes and ...
396                                           Incognito
470                                   Flights and Falls
...                                                 ...
4701                                    Next Door: Fear
4703                                           Gagaland
4712       Cynthia Erivo: Legendary Voices at the Proms
4719                           Thank You and Good Night
4722                          Here the Seats Are Vacant

                         genres  releasedate  vote_count  vote_average  \
150                       Drama         1932         0.0           0.0
309                      Comedy         2023         0.0           0.0
377                 Documentary         2003         0.0           0.0
396   Drama, Thriller, TV Movie         1999         0.0           0.0
470                 Documentary         2000         0.0           0.0
...                         ...          ...         ...           ...
4701                      Drama         2021         0.0           0.0
4703     Comedy, Romance, Music         2023         0.0           0.0
4712                    Unknown         2022         0.0           0.0
4719                Documentary         1992         0.0           0.0
4722                Documentary         2016         0.0           0.0

                prod_countries
150             United Kingdom
309             United Kingdom
377                     France
396   United States of America
470             Czech Republic
...                        ...
4701                  Portugal
4703                     China
4712            United Kingdom
4719            United Kingdom
4722                      Iran

[463 rows x 6 columns]>

In [80]:
male_directed[male_directed['vote_average'] == 0]

,genres,title,vote_average,vote_count,releasedate,prod_countries
3081,"Drama, TV Movie",Joe and Max,0.0,1.0,2002,United States of America
3785,Comedy,Me and Him,0.0,1.0,1988,Germany
4322,"Drama, Fantasy",Liliom,0.0,2.0,1934,France
6057,Drama,Beauty Prize,0.0,1.0,1930,France
6405,"Drama, Romance, History",Lucrezia Borgia,0.0,2.0,1935,France
6772,Adventure,The Hellfire Club,0.0,1.0,1961,United Kingdom
7141,"Comedy, Drama",Behind the Camera: The Unauthorized Story of '...,0.0,1.0,2005,Canada
7426,"Western, TV Movie",Rose Hill,0.0,1.0,1997,United States of America
8053,Drama,The Gate of Heaven,0.0,1.0,1945,Italy
9253,"Drama, Romance",Call Me by Your Name,0.0,18.0,2017,Brazil
9301,Drama,"Ana, My Love",0.0,3.0,2017,Romania

In [ ]:

#Total rating count

In [ ]:
male_directed.groupby('vote_average').mean()

              vote_count  releasedate
vote_average
0.0             2.909091  1975.545455
0.5             1.000000  2009.000000
1.0             1.200000  1994.500000
1.3             4.500000  1992.500000
1.5             2.000000  1963.000000
...                  ...          ...
9.2             5.000000  2007.000000
9.3             3.000000  1994.000000
9.5             1.250000  1976.000000
9.8             4.000000  1969.000000
10.0            1.304348  1981.695652

[84 rows x 2 columns]

In [84]:
female_directed

,title,genres,releasedate,vote_count,vote_average,prod_countries
0,Cléo from 5 to 7,Drama,1962,543.0,7.708,France
1,Portrait of a Lady on Fire,"Drama, Romance",2019,2073.0,8.184,France
2,Mustang,Drama,2015,1266.0,7.778,France
3,Lost in Translation,"Comedy, Drama, Romance",2003,6523.0,7.395,Japan
4,"Jeanne Dielman, 23, quai du Commerce, 1080 Bru...",Drama,1976,220.0,7.339,Belgium
...,...,...,...,...,...,...
4718,The Days with Him,Documentary,2014,1.0,7.000,Brazil
4719,Thank You and Good Night,Documentary,1992,0.0,0.000,United Kingdom
4720,Last Summer,"Drama, Thriller",2023,2.0,5.000,France
4721,Club Zero,"Drama, Thriller",2023,4.0,4.250,Austria
4722,Here the Seats Are Vacant,Documentary,2016,0.0,0.000,Iran