## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample(range(0,100), k=80)
print(sample_list_1)
print(len(sample_list_1))

[41, 14, 73, 19, 96, 95, 56, 82, 50, 63, 12, 79, 46, 34, 76, 67, 86, 24, 93, 70, 97, 64, 92, 52, 88, 58, 72, 5, 10, 25, 0, 48, 60, 29, 28, 57, 26, 7, 31, 33, 44, 51, 81, 77, 37, 20, 13, 65, 39, 74, 18, 43, 42, 8, 4, 27, 22, 75, 36, 71, 47, 85, 80, 38, 2, 59, 54, 35, 55, 91, 6, 62, 98, 94, 17, 61, 21, 23, 15, 1]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 = set(sample_list_1)
print(set1)
print(len(sample_list_1)) #Yes, because each value of list sample_list_1 was unique.

{0, 1, 2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 85, 86, 88, 91, 92, 93, 94, 95, 96, 97, 98}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
sample_list_2= []
for i in range(80):
    sample_list_2.append(random.randint(0, 100))
print(sample_list_2)
len(sample_list_2)

[17, 61, 45, 28, 55, 79, 63, 65, 9, 11, 70, 9, 53, 92, 36, 45, 5, 78, 12, 89, 37, 68, 45, 41, 63, 10, 15, 68, 44, 0, 44, 12, 46, 42, 44, 16, 12, 4, 7, 28, 73, 68, 65, 71, 65, 22, 82, 45, 83, 68, 75, 22, 80, 39, 15, 84, 42, 57, 69, 77, 97, 22, 98, 32, 73, 77, 36, 51, 6, 77, 72, 86, 38, 13, 9, 43, 16, 9, 35, 6]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2 = set(sample_list_2)
print(set2)
len(set2)
#No, because a set does not print repeating values.

{0, 4, 5, 6, 7, 9, 10, 11, 12, 13, 15, 16, 17, 22, 28, 32, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 51, 53, 55, 57, 61, 63, 65, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 80, 82, 83, 84, 86, 89, 92, 97, 98}

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
set1_not_set2= set1.difference(set2)
print(set1_not_set2)
set3= set()
set3.update(set1_not_set2)
print(set3)
len(set3)

{1, 2, 8, 14, 18, 19, 20, 21, 23, 24, 25, 26, 27, 29, 31, 33, 34, 47, 48, 50, 52, 54, 56, 58, 59, 60, 62, 64, 67, 74, 76, 81, 85, 88, 91, 93, 94, 95, 96}
{1, 2, 8, 14, 18, 19, 20, 21, 23, 24, 25, 26, 27, 29, 31, 33, 34, 47, 48, 50, 52, 54, 56, 58, 59, 60, 62, 64, 67, 74, 76, 81, 85, 88, 91, 93, 94, 95, 96}

39

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
set2_not_set1 = set2.difference(set1)
print(set2_not_set1)
set4 = set()
set4.update(set2_not_set1)
len(set4)

{32, 68, 69, 9, 11, 45, 78, 16, 83, 84, 53, 89}

12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
set1_and_set2= set1.intersection(set2)
set5 = set()
set5.update(set1_and_set2)
set5
len(set5)

41

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [11]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
union_all = set1.union(set2, set3, set4, set5)
print(len(union_all))

80
53
39
12
41
92

#### Create an empty set called `set6`.

In [12]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [83]:
set6.update(set3, set5)
set6
len(set6)

80

#### Check if `set1` and `set6` are equal.

In [13]:
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
print(set2.issubset(set1))#No, set1 does not contain set2
print(set3.issubset(set1))#Yes, set1 does ncontain set3

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
print(set3.union(set4, set5))
print(set1.union(set2))
set3.union(set4, set5) == set1.union(set2)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98}
{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98}

True

#### Using the `pop` method, remove the first element from `set1`.

In [18]:
set1.pop()
print(set1)
len(set1)

{1, 2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 85, 86, 88, 91, 92, 93, 94, 95, 96, 97, 98}

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [27]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = (set(list_to_remove))
print(set_to_remove)
set1.difference_update(set_to_remove)
print(set1)

{1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99}
{2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 33, 34, 35, 36, 37, 38, 42, 43, 44, 46, 47, 48, 50, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 67, 70, 72, 73, 74, 75, 76, 77, 80, 82, 85, 86, 88, 92, 93, 94, 95, 96, 97, 98}