In [ ]:
1. From the order_items table, find the price of the highest priced order and lowest price order.
    highest priced order = Order no. '0812eb902a67711a1cb742b3cdaa65ae' = 6735'€

        lowest price order = 3 orders, each of them costs 0,85€
'0.85', 'c5bdd8ef3c0ec420232e668302179113', 
'0.85', '6e864b3f0ec71031117ad4cf46b7f2a1', 
'0.85', '3ee6513ae7ea23bdfab5b9ab60bffcb5', 

2. From the order_items table, what is range of the shipping_limit_date of the orders?
'1299'

3. From the customers table, find the states with the greatest number of customers.
'SP' with '41746' customers.

4. From the customers table, within the state with the greatest number of customers, find the cities with the greatest number of customers.
'sao paulo' in 'SP'state with'15540'customers.

5. From the closed_deals table, how many distinct business segments are there (not including null)?
The query returned 33 rows. there are 33 distinct business segments.

6. From the closed_deals table, sum the declared_monthly_revenue for duplicate row values in business_segment and find the 3 business segments with the highest declared monthly revenue (of those that declared revenue).
'construction_tools_house_garden' has the highest monthly revenue of '50695006'.
'phone_mobile' has the second highest monthly revenue of '8000000'.
'home_decor'has the third highest monthly revenue of '710000'.

7. From the order_reviews table, find the total number of distinct review score values.
5 disinct values: '1', '2', '3', '4', '5';

8. In the order_reviews table, create a new column with a description that corresponds to each number category for each review score from 1 - 5, then find the review score and category occurring most frequently in the table.
The review score 'very good', '5', appears '57420' times.

9. From the order_reviews table, find the review value occurring most frequently and how many times it occurs.
The review score 'very good', '5', appears '57420' times.