# Intro to Pandas

In [ ]:
#in the pd.describe

pd.describe(include='0')

In [1]:
df = df.rename(columns{'Age':'age'})
#OR
df.rename(columns{'Age':'age'}, inplace=True) #Do it in the same place

#inplace=True is an optional parameter

#Don't do thhis:
df.rename(columns{'Age':'age'})

SyntaxError: invalid syntax (172667993.py, line 1)

In [ ]:
Numerical = continuous(float) discrete (int)
Non-numerical= -categorical: ordinal (not just words, they have an order, ex=survey)  nominal (ex: country= value)

In [ ]:
#data type
df.dtypes

In [ ]:
#missing values
make sure missing value are marked as null in your data set
df.isna() #shows missing values 
df.isnull().sum() = sum of null values, by columns or by row 
df.isnull().sum().sum()

In [ ]:
axis = 0 #do it by columns
axis = 1 #do it by row

In [ ]:
df['Age'] = df['Age'].fillna('Unknown') #Here, I cannot use 'inplace'

# Sorting

In [ ]:
df = pd.read

In [ ]:
df.sort_index(ascending=False, inplace=True)

In [ ]:
df.sort_values("Fare",ascending=False, inplace=True) #because default is asc

In [ ]:
df.sort_values(["Fare","Age"],ascending=False, inplace=True) #when fare is eual sort by age

In [ ]:
df['age'].sortvalues()

# Aggregating

In [ ]:
df['Age'].value_counts() #does not include NA

In [1]:
df['Age'].max() - df['Age'].min() #calculate the diff in one line

NameError: name 'df' is not defined

In [ ]:
aggregating on series
df.mean() = avg of all numerical columns

In [2]:
df.groupby('sex')["fare",'survived'].mean() #This is to do it for only one column

NameError: name 'df' is not defined

In [ ]:
df.groupby("Sex").agg('Age': 'mean', "Survived": "sum")

In [ ]:
df.["Age"].nunique()

In [ ]:
df.groupby("Sex")["Age"].nunique()

# Indexing

In [ ]:
df[['Age']]

In [ ]:
df['Age']

In [ ]:
df['Age'] <= 20

In [ ]:
df['Age'] == 'female'

In [ ]:
#and character = §
#or character = barre au milieu

In [ ]:
(df['Age'] >= 20) § (df['Age'] <= 20) #PLEASE ALWAYS USE BRACKETS

In [ ]:
((df['Age'] >= 20) § (df['Age'] <= 20)).sum()

In [ ]:
(df['Pclass'].isin(2,3)) #See if categories are the same

In [ ]:
#~ = notin

In [ ]:
~(df['Pclass'].isin(2,3))

In [ ]:
df_filtered = df[(df['Age'] >= 20) § (df['Age'] <= 20)]

In [ ]:
#Add a new column

In [ ]:
mask = (df['Age'] >= 20) § (df['Age'] <= 20)
mask1=(df['Age'] >= 20)
mask2=(df['Age'] <= 20)
df.loc[mask1 & mask2,'Name']
df.loc[mask,['Name']['age']]
df.loc[(df['Age'] >= 20) § (df['Age'] <= 20),['Name']['age']] #To select rows + columns

In [ ]:
df.loc[(df['Age'] >= 20) § (df['Age'] <= 20),['Name']['age']] = "Anonymous between 20 and 30"

In [ ]:
df.loc[(df['Age'] >= 20) § (df['Age'] <= 20),"Agerange"]= "between 20 and 30"

In [ ]:
#to drop a column 
df.drop(columns=['Name Original'], inplace=True)

## INDEX

In [ ]:
df.set_index("Name")

In [ ]:
df.index

In [ ]:
iloc #selecting a certain item(6) = list indexing in Pyth

In [ ]:
loc # Selecting a specific columns

In [ ]:
df.iloc[3:6, 5] #row, column

## String functions

In [ ]:
#don't use for loops in pandas

In [ ]:
#change index to a column
df.reset_index(inplace=True)

In [ ]:
#select a column
df.Name

In [ ]:
#'str' contains all string functions 
#if you don't index it, it will create a list 
df['Name'].str.split(',').str[0]

In [ ]:
df['Name'].str.extract('(.*),(.*)')
                       #'.' means any chraracter, '*' means repeat the former symbol

In [ ]:
df['Name'].str.extract('(.*),(.*)').rename(columns={0:"Last Name, 1:'First Name'})

In [ ]:
df[["Last Name,'First Name']] = df['Name'].str.extract('(.*),(.*)').rename(columns={0:"Last Name, 1:'First Name'})

In [ ]:
### two sets of brackets is to put them into a columns and not series '[[ ]]'

# Joining dataframes

In [ ]:
#merge joins on column names

In [ ]:
df["Sex"]

In [ ]:
df.merge(df_proba, left_on='Sex', right_on='Sex, suffixes')#like an inner join

In [ ]:
left join = select the ones on the left and add it to everything on the right

In [ ]:
right join =

# Concatenate

In [ ]:
concatenate = union all

In [ ]:
df[df.Age <=20]

# Get dummies

In [ ]:
df["PClass"] = pd.get_dummies

# Pivot and unpivot

In [ ]:
df.pivot_table(columns=['Sex'])

In [ ]:
df.m

In [ ]:
df.dropna() = drops the lines where there is at least one missing value