# Intro to Pandas

In [ ]:
#in the pd.describe

pd.describe(include='0')

In [1]:
df = df.rename(columns{'Age':'age'})
#OR
df.rename(columns{'Age':'age'}, inplace=True) #Do it in the same place

#inplace=True is an optional parameter

#Don't do thhis:
df.rename(columns{'Age':'age'})

SyntaxError: invalid syntax (172667993.py, line 1)

In [ ]:
Numerical = continuous(float) discrete (int)
Non-numerical= -categorical: ordinal (not just words, they have an order, ex=survey)  nominal (ex: country= value)

In [ ]:
#data type
df.dtypes

In [ ]:
#missing values
make sure missing value are marked as null in your data set
df.isna() #shows missing values 
df.isnull().sum() = sum of null values, by columns or by row 
df.isnull().sum().sum()

In [ ]:
axis = 0 #do it by columns
axis = 1 #do it by row

In [ ]:
df['Age'] = df['Age'].fillna('Unknown') #Here, I cannot use 'inplace'

# Sorting

In [ ]:
df = pd.read

In [ ]:
df.sort_index(ascending=False, inplace=True)

In [ ]:
df.sort_values("Fare",ascending=False, inplace=True) #because default is asc

In [ ]:
df.sort_values(["Fare","Age"],ascending=False, inplace=True) #when fare is eual sort by age

In [ ]:
df['age'].sortvalues()

# Aggregating

In [ ]:
df['Age'].value_counts() #does not include NA

In [1]:
df['Age'].max() - df['Age'].min() #calculate the diff in one line

NameError: name 'df' is not defined

In [ ]:
aggregating on series
df.mean() = avg of all numerical columns

In [2]:
df.groupby('sex')["fare",'survived'].mean() #This is to do it for only one column

NameError: name 'df' is not defined

In [ ]:
df.groupby("Sex").agg('Age': 'mean', "Survived": "sum")

In [ ]:
df.["Age"].nunique()

In [ ]:
df.groupby("Sex")["Age"].nunique()