In [60]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

churnData= pd.read_csv('DATA_Customer-Churn.txt')
churnData.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [73]:
churnData.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [62]:
churnData['TotalCharges']

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object

In [63]:
churnData.iloc[488].fillna(0)

gender                Female
SeniorCitizen              0
Partner                  Yes
Dependents               Yes
tenure                     0
PhoneService              No
OnlineSecurity           Yes
OnlineBackup              No
DeviceProtection         Yes
TechSupport              Yes
StreamingTV              Yes
StreamingMovies           No
Contract            Two year
MonthlyCharges         52.55
TotalCharges
Churn                     No
Name: 488, dtype: object

In [64]:
churnData['TotalCharges'].fillna(np.nan)

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object

In [65]:
churnData['TotalCharges'].isna().sum()

0

In [66]:
#churnData['TotalCharges'].str.replace(' ', NaN, regex=True)
churnData['TotalCharges'].replace(' ', np.nan, inplace=True)

In [67]:
pd.to_numeric(churnData['TotalCharges'])

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

In [68]:
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'], errors='coerce')

In [69]:
churnData.isna().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [70]:
churnData['TotalCharges'].fillna(0, inplace=True)

In [71]:
churnData['TotalCharges'].isna().sum()

0

In [74]:
features = churnData.select_dtypes(include = np.number)

In [ ]:
X = 
y = 

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.20, random_state=42)